@import "tailwindcss";


@theme inline {
    --font-montserrat: var(--font-montserrat);
    --font-inter: var(--font-inter);
    --font-roboto: var(--font-roboto);
    --color-main: oklch(0.4731 0.0904 140.5);
    --color-secondary: oklch(0.7678 0.1043 126.69);
    --color-background: oklch(0.9864 0.0199 97.52);
    --color-accent: oklch(0.947 0.083 95.76);
}